experiment_name: "CGL_Generalist_Solver"
device: "cuda"

physics:
  x_domain: [-20, 20]
  t_max: 5.0
  initial_conditions: [1, 2]
  bounds:
    A: [0.1, 3.0]
    w0: [0.5, 6.0]
    x0: [0.0, 0.0]
    k: [-2.0, 2.0]

  equation_params:
    alpha: [0.0, 1.0]
    beta: [-1.5, 1.5]
    mu: [-0.5, 1.0]
    V: [-2.0, 2.0]

model:
  branch_input_dim: 9 
  trunk_input_dim: 2
  latent_dim: 512
  
  branch_layers: [512, 512, 512, 512, 512, 512]
  trunk_layers: [512, 512, 512, 512, 512]
  
  activation: "silu"
  
  fourier_dim: 64
  fourier_scales: [1.0, 2.0, 5.0, 10.0, 20.0, 40.0]

training:
  batch_size_ic: 8192   
  batch_size_pde: 8192   
  
  # Stratégie Robustesse
  max_macro_loops: 8
  nb_adam_retries: 4
  check_interval: 2000
  stagnation_threshold: 0.001  # 1%

  pde_weight_start: 0.1   # On commence un peu plus haut pour aider la Tanh
  pde_weight_target: 1.0
  ramp_end_t: 0.1         # Zone de transition

  weights:
    pde_loss: 0.5
    ic_loss_start: 10.0    # <--- Démarrage fort
    ic_loss_target: 2.0    # <--- Atterrissage doux pour laisser vivre la Tanh
    bc_loss: 1.0
    
  # Seuils Audit
  target_error_ic: 0.03     # 3% pour le Warmup
  target_error_global: 0.03 # 5% pour le Time Marching

  ic_phase:
    learning_rate: 5e-4
    iterations: 10000
  # -----------------------------

time_marching:
  learning_rate: 1e-4
  zones:
    - t_end: 0.1
      dt: 0.01   # Petit pas pour démarrer
      iters: 8000
    - t_end: 2.0
      dt: 0.05
      iters: 8000
    - t_end: 5.0
      dt: 0.1
      iters: 9000