experiment_name: "CGL_Generalist_Solver"
device: "cuda"

physics:
  x_domain: [-20, 20]
  t_max: 10.0
  
  bounds:
    A: [0.1, 3.0]
    w0: [0.5, 6.0]
    x0: [0.0, 0.0]
    k: [-2.0, 2.0]

  equation_params:
    alpha: [0.0, 1.0]
    beta: [-1.5, 1.5]
    mu: [-0.5, 1.0]
    V: [-2.0, 2.0]

model:
  branch_input_dim: 9 
  trunk_input_dim: 2
  latent_dim: 256
  
  branch_layers: [256, 256, 256, 256, 256]
  trunk_layers: [256, 256, 256, 256]
  
  activation: "silu"
  
  fourier_dim: 64
  fourier_scales: [1.0, 2.0, 5.0, 10.0, 20.0, 40.0]

training:
  batch_size_ic: 2048   
  batch_size_pde: 4096   
  
  # Stratégie Robustesse
  max_macro_loops: 3
  nb_adam_retries: 3
  check_interval: 2000
  stagnation_threshold: 0.01  # 1%
  
  # Poids Dynamiques
  pde_weight_start: 0.1   # Poids initial (doux)
  pde_weight_target: 1.0  # Poids final (objectif)
  ramp_end_t: 0.5         # Fin de la rampe linéaire, début NTK
  
  # Seuils Audit
  target_error_ic: 0.03     # 3% pour le Warmup
  target_error_global: 0.05 # 5% pour le Time Marching

time_marching:
  zones:
    - t_end: 0.5
      dt: 0.01   # Petit pas pour démarrer
      iters: 8000
    - t_end: 2.0
      dt: 0.05
      iters: 6000
    - t_end: 10.0
      dt: 0.1
      iters: 5000